In [157]:
# Imports
import pandas as pd
import os

In [158]:
# Initialize Word List

words = pd.read_csv("sgb-words.txt")
words = words.squeeze()

In [159]:
# Initialize frequency table

alpha = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
zeroes = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]

freq_list = pd.DataFrame(zeroes, index = alpha, columns = ['Frequency'])

first_list = pd.DataFrame(zeroes, index = alpha, columns = ['Frequency'])

last_list = pd.DataFrame(zeroes, index = alpha, columns = ['Frequency'])

three_list = pd.DataFrame(columns = ['Frequency'])

del alpha, zeroes

count = 0

In [160]:
for i in words:
    ++count
    for j in i:
        freq_list.loc[j] = freq_list.loc[j] + 1
    
    
    first_list.loc[i[0]] = first_list.loc[i[0]] + 1
    
    last_list.loc[i[4]] = last_list.loc[i[0]] + 1
    
    # Three List
    a = i[0:3]
    b = i[1:4]
    c = i[2:5]
    set = [a,b,c]
    for z in set:
        if z in three_list.index.values:
            three_list.loc[z] = three_list.loc[z] + 1
        else:
            three_list.loc[z] = 1
    
    if count > 50: print("50 words completed")
    if count == words.size: "Reached end of list!"

In [161]:
three_list.sort_values('Frequency', ascending = False)

    Frequency
ing        52
res        49
ate        48
lls        48
ter        42
..        ...
omf         1
mfy         1
ida         1
unz         1
cce         1

[3271 rows x 1 columns]

In [165]:
freq_list.to_csv("All_Letter_Frequencies")
first_list.to_csv("First_Letter_Frequencies")
last_list.to_csv("Last_Letter_Frequencies")
three_list.to_csv("Three_Letter_Frequencies")

the
hei
eir